<div class="h-full overflow-hidden bg-[#0079bf]">
  <div class="flex h-full flex-col">
    <header class="min-h-[49px] overflow-hidden">
      <app-navbar [darkTheme]="true" class="block min-h-[49px] bg-[#005180]" />
    </header>
    <main class="flex flex-grow overflow-y-auto text-white">
      <nav class="block w-64">
        <div class="flex h-full flex-col overflow-auto bg-[#006199e6]">
          <div
            class="box-content flex min-h-10 items-center border-b border-white/15 px-3 py-2"
          >
            <a
              ><div
                class="flex h-8 w-8 items-center justify-center rounded bg-gradient-to-b from-[#AE4787] to-[#E774BB] text-xl/5 font-bold"
              >
                T
              </div></a
            >
            <div class="ml-2 mr-1 flex-1">
              <span
                ><a
                  ><p class="text-sm font-semibold">Trello workspace</p></a
                ></span
              >
              <p class="text-xs/5">Free</p>
            </div>
            <button
              class="flex cursor-pointer items-center justify-center rounded-sm p-0.5 hover:bg-white/20"
            >
              <fa-icon
                class="h-7 w-7 content-center text-center text-sm"
                [icon]="faAngleLeft"
              ></fa-icon>
            </button>
          </div>
          <div class="sidenav overflow-y-auto overflow-x-hidden">
            <div>
              <a class="flex h-8 pl-4">Boards</a>
              <a class="flex h-8 pl-4">Members</a>
              <button class="flex h-8 pl-4">Workspace settings</button>
            </div>
            <div class="mt-1.5">
              <h2 class="py-1 pl-3">Workspace views</h2>
              <ul>
                <li class="px-3">Table</li>
                <li class="px-3">Calendar</li>
              </ul>
            </div>
            <div class="mt-1.5">
              <div class="py-1 pl-3">
                <h2>Your Boards</h2>
              </div>
              <ul></ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="flex flex-1 flex-col overflow-y-auto">
        <div
          class="inline-flex w-full items-center gap-1 bg-[#0000003d] py-3 pl-2.5 pr-4"
        >
          <span class="box-content flex">
            <div class="mr-1 h-8">
              <h1 class="mb-3 px-2.5 text-lg/8 font-bold">
                {{ board().title }}
              </h1>
            </div>
          </span>
          <span></span>
        </div>
        <div class="relative mt-3 flex-grow">
          @switch (currentView()) {
            @case ("Board") {
              <app-board-view [boardLists]="boardLists"></app-board-view>
            }
            @case ("Table") {
              <app-table-view [boardLists]="boardLists"></app-table-view>
            }
          }
        </div>
      </div>
    </main>
  </div>
</div>
