<div class="h-full overflow-hidden bg-[#0079bf]">
  <div class="flex h-full flex-col">
    <header class="min-h-[49px] overflow-hidden">
      <app-navbar [darkTheme]="true" class="block min-h-[49px] bg-[#005180]" />
    </header>
    <main class="flex flex-grow overflow-y-auto text-white">
      <nav class="block w-64">
        <div class="flex h-full flex-col overflow-auto bg-[#006199e6]">
          <div
            class="box-content flex min-h-10 items-center border-b border-white/15 px-3 py-2"
          >
            <a
              ><div
                class="flex h-8 w-8 items-center justify-center rounded bg-gradient-to-b from-[#AE4787] to-[#E774BB] text-xl/5 font-bold"
              >
                T
              </div></a
            >
            <div class="ml-2 mr-1 flex-1">
              <span
                ><a
                  ><p class="text-sm font-semibold">Trello workspace</p></a
                ></span
              >
              <p class="text-xs/5">Free</p>
            </div>
            <button
              class="flex cursor-pointer items-center justify-center rounded-sm p-0.5 hover:bg-white/20"
            >
              <fa-icon
                class="h-7 w-7 content-center text-center text-sm"
                [icon]="faAngleLeft"
              ></fa-icon>
            </button>
          </div>
          <div class="sidenav overflow-y-auto overflow-x-hidden">
            <div>
              <a class="flex h-8 pl-4">Boards</a>
              <a class="flex h-8 pl-4">Members</a>
              <button class="flex h-8 pl-4">Workspace settings</button>
            </div>
            <div class="mt-1.5">
              <h2 class="py-1 pl-3">Workspace views</h2>
              <ul>
                <li class="px-3">Table</li>
                <li class="px-3">Calendar</li>
              </ul>
            </div>
            <div class="mt-1.5">
              <div class="py-1 pl-3">
                <h2>Your Boards</h2>
              </div>
              <ul></ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="flex flex-1 flex-col overflow-y-auto">
        <div
          class="inline-flex w-full items-center gap-1 bg-[#0000003d] py-3 pl-2.5 pr-4"
        >
          <span class="box-content flex">
            <div class="mr-1 h-8">
              <h1 class="mb-3 px-2.5 text-lg/8 font-bold">
                {{ board().title }}
              </h1>
            </div>
            <div>
              <button
                class="inline-flex h-8 w-8 cursor-pointer items-center justify-center rounded bg-transparent p-1.5 text-sm/8 text-white"
                (click)="boardsService.toggleStarred(board().id)"
              >
                <span
                  class="inline-block"
                  [class]="
                    board().starred ? 'text-yellow-500' : 'text-gray-400'
                  "
                  ><fa-icon [icon]="faStar"></fa-icon
                ></span>
              </button>
            </div>
            <div class="mx-1">
              <button
                class="inline-flex h-8 w-8 cursor-pointer items-center justify-center rounded bg-transparent p-1.5 text-sm/8 text-white"
              >
                <span class="inline-block"
                  ><fa-icon [icon]="faLock"></fa-icon
                ></span>
              </button>
            </div>
            <div class="h-8 text-base/8">
              <button
                class="relative inline-flex cursor-pointer items-center justify-center rounded bg-[#dcdfe4] p-1.5 text-sm text-[#172b4d] hover:bg-white"
                type="button"
                cdkOverlayOrigin
                #viewsDropdown="cdkOverlayOrigin"
                (click)="toggleViews()"
              >
                <span class="mr-2"
                  ><fa-icon [icon]="faChart" [rotate]="180"></fa-icon
                ></span>
                <span class="mr-2">{{ currentView() }}</span>
                <span><fa-icon [icon]="faAngleDown"></fa-icon></span>
              </button>
            </div>
          </span>
          <span></span>
        </div>
        <div class="relative mt-3 flex-grow">
          @switch (currentView()) {
            @case ("Board") {
              <app-board-view [boardLists]="boardLists"></app-board-view>
            }
            @case ("Table") {
              <app-table-view [boardLists]="boardLists"></app-table-view>
            }
          }
        </div>
      </div>
    </main>
  </div>
</div>
<ng-template
  cdk-connected-overlay
  [cdkConnectedOverlayOrigin]="viewsDropdown"
  [cdkConnectedOverlayOpen]="isViewsOpen()"
  (overlayOutsideClick)="isViewsOpen.set(false)"
>
  <section
    class="block w-[304px] overflow-hidden rounded-lg bg-white shadow-lg"
  >
    <header
      class="relative grid items-center px-2 py-1 text-center"
      style="grid-template-columns: 32px 1fr 32px"
    >
      <h2
        class="relative block h-10 px-8 text-base/10 font-semibold text-gray-600"
        style="grid-column: 1 / span 3; grid-row: 1"
      >
        Views
      </h2>
      <button
        class="z-20 flex h-8 items-center justify-center rounded-lg hover:bg-trelloBgNeutralHover"
        style="grid-column: 3; grid-row: 1"
        (click)="toggleViews()"
      >
        <fa-icon
          class="h-4 w-4 shrink-0 text-base/4 text-gray-500"
          [icon]="faX"
        ></fa-icon>
      </button>
    </header>
    <div class="overflow-y-auto overflow-x-hidden p-3 pt-0 text-sm">
      <ul>
        <li class="mb-2 flex h-8 justify-center">
          <a
            class="w-full cursor-pointer pl-1.5 text-center hover:bg-trelloBgNeutralHover"
            (click)="setView('Board')"
            >Board</a
          >
        </li>
        <li class="mb-2 flex h-8 justify-center">
          <a
            class="w-full cursor-pointer pl-1.5 text-center hover:bg-trelloBgNeutralHover"
            (click)="setView('Table')"
            >Table</a
          >
        </li>
      </ul>
    </div>
  </section>
</ng-template>
