<div class="relative h-screen w-screen bg-gray-50">
  <div class="absolute h-full w-full">
    <img
      class="absolute bottom-0 left-0 w-96"
      src="/images/trello-left.4f52d13c.svg"
      alt="background left"
    />
    <img
      class="absolute bottom-0 right-0 w-96"
      src="/images/trello-right.e6e102c7.svg"
      alt="background right"
    />
    <div class="relative m-auto w-4/12">
      <header class="flex justify-center pb-2 pt-6">
        <img class="w-56" src="/images/logo/logo-gradient-blue-trello.svg" />
      </header>
      <div class="rounded bg-white shadow">
        <h1>login</h1>
      </div>
    </div>
  </div>
</div>
