<div class="my-12">
  <div class="relative w-[768px] overflow-visible rounded-lg bg-white text-sm">
    <button
      class="absolute right-2 top-2 rounded-[50%] p-1.5 hover:bg-trelloBgNeutralHover"
      role="button"
      type="button"
      (click)="close()"
    >
      <span class="block h-6 w-6">
        <fa-icon [icon]="faX"> </fa-icon>
      </span>
    </button>
    <div class="bg-trelloBgNeutral">
      @if (archived()) {
        <div
          class="relative min-h-8 overflow-hidden rounded-t-xl bg-amber-100 p-4 pl-14"
          style="
            background-image: linear-gradient(
              to bottom right,
              var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 25%,
              transparent 25%,
              transparent 50%,
              var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 50%,
              var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 75%,
              transparent 75%,
              transparent
            );
            background-size: 14px 14px;
          "
        >
          <span class="absolute left-5 top-5 inline-block h-6 w-6 text-2xl/3"
            ><fa-icon class="h-6" [icon]="faArchive"></fa-icon
          ></span>
          <p class="text-base/8">This card is archived</p>
        </div>
      }
      <div class="pl-4 pr-[52px] pt-4">
        <section
          class="mb-6 grid"
          style="grid-template-columns: [icon] 40px [body] minmax(0, 1fr)"
        >
          <div>
            <span class="inline-block p-1"
              ><fa-icon [icon]="faRectangleList"></fa-icon
            ></span>
          </div>
          <hgroup>
            <textarea
              class="-mx-2.5 -my-1.5 block h-9 w-full resize-none rounded border-none bg-transparent px-2.5 py-1.5 text-xl/6 font-semibold outline-none focus:bg-white"
              dir="auto"
              maxlength="16384"
              (change)="submitTitle($event)"
              (keydown.enter)="submitTitle($event)"
              >{{ card.title }}</textarea
            >
          </hgroup>
          <div style="grid-column-end: none; grid-column-start: body">
            <p class="mt-1 flex flex-wrap items-center gap-x-1">
              in list
              <button class="rounded bg-trelloButtonNeutral">
                <span class="px-1 text-gray-600 hover:text-black"
                  ><span class="text-xs font-bold uppercase">
                    {{ list().title }}
                  </span>
                  <span class="h-4 w-4"
                    ><fa-icon [icon]="faAngleDown"></fa-icon></span
                ></span>
              </button>
            </p>
          </div>
        </section>
      </div>
      <div
        class="grid gap-x-4 gap-y-1"
        style="grid-template-columns: [main] 568px [sidebar] minmax(0, 1fr)"
      >
        <div class="pb-2 pl-4" style="grid-column-start: main">
          <div>Notifications</div>
          <section>Description</section>
          <section>Activity</section>
        </div>
        <div class="pb-6 pr-4" style="grid-column-start: sidebar">
          <section>
            <ul class="flex flex-col gap-y-2">
              <li>
                <button
                  class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                >
                  <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                    ><fa-icon [icon]="faUserPlus"></fa-icon></span
                  >Join
                </button>
              </li>
              <li>
                <button
                  class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                >
                  <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                    ><fa-icon [icon]="faUser"></fa-icon></span
                  >Members
                </button>
              </li>
              <li>
                <button
                  class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                >
                  <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                    ><fa-icon [icon]="faLabel"></fa-icon></span
                  >Labels
                </button>
              </li>
              <li>
                <button
                  class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                >
                  <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                    ><fa-icon [icon]="faChecklist"></fa-icon></span
                  >Checklist
                </button>
              </li>
              <li>
                <button
                  class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                >
                  <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                    ><fa-icon [icon]="faDates"></fa-icon></span
                  >Dates
                </button>
              </li>
              <li>
                <button
                  class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                >
                  <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                    ><fa-icon [icon]="faAttachment"></fa-icon></span
                  >Attachment
                </button>
              </li>
              <li>
                <button
                  class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                >
                  <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                    ><fa-icon [icon]="faCover"></fa-icon></span
                  >Cover
                </button>
              </li>
              <li>
                <button
                  class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                >
                  <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                    ><fa-icon [icon]="faCustom"></fa-icon></span
                  >Custom Fields
                </button>
              </li>
            </ul>
          </section>
          <section>Power Ups</section>
          <section>Automation</section>
          <section>
            <hgroup class="mb-1 flex items-center justify-between">
              <h4 class="text-xs/5 font-semibold text-gray-500">Actions</h4>
            </hgroup>
            <ul class="flex flex-col gap-y-2">
              <li>
                <button
                  class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                >
                  <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                    ><fa-icon [icon]="faMove"></fa-icon
                  ></span>
                  Move
                </button>
              </li>
              <li>
                <button
                  class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                >
                  <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                    ><fa-icon [icon]="faCopy"></fa-icon
                  ></span>
                  Copy
                </button>
              </li>
              <li>
                <button
                  class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                >
                  <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                    ><fa-icon [icon]="faTemplate"></fa-icon
                  ></span>
                  Make template
                </button>
              </li>
              <hr />
              @if (archived()) {
                <li>
                  <button
                    class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                    (click)="sendToBoard()"
                  >
                    <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                      ><fa-icon [icon]="faRetry"></fa-icon
                    ></span>
                    Send to board
                  </button>
                </li>
                <li>
                  <button
                    class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-[#c9372c] px-3 py-1.5 text-left text-sm text-white hover:bg-red-700 active:bg-red-800"
                    (click)="deleteCard()"
                  >
                    <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                      ><fa-icon [icon]="faMinus"></fa-icon
                    ></span>
                    Delete
                  </button>
                </li>
              } @else {
                <li>
                  <button
                    class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                    (click)="archiveCard()"
                  >
                    <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                      ><fa-icon [icon]="faArchive"></fa-icon
                    ></span>
                    Archive
                  </button>
                </li>
              }
              <li>
                <button
                  class="inline-flex w-full cursor-pointer scroll-m-2 items-center justify-start rounded bg-trelloButtonNeutral px-3 py-1.5 text-left text-sm text-gray-700 hover:bg-trelloBgNeutralHover active:bg-trelloBgNeutralPressed"
                >
                  <span class="mr-2 box-content inline-flex h-4 w-4 shrink-0"
                    ><fa-icon [icon]="faShare"></fa-icon
                  ></span>
                  Share
                </button>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
